.left-img {
  background-image: url("./bg-image.png");
  background-repeat: no-repeat;
  height: 28rem;
  width: 70%;
  /* background-color: aquamarine; */
  background-size: contain;
  text-align: center;
}
.text-content {
  height: inherit;
  display: flex;
  align-items: center;
  font-size: 43px;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}
.p {
  margin: 0;
  font-size: 1rem;
}
