.why-us-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.why-us-title {
  color: #1a202c;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-align: left;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0; /* Removing gap to make the borders align properly */
}

.feature {
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  border: 1px solid transparent;
}

/* First row elements */
.feature:nth-child(1) {
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.feature:nth-child(2),
.feature:nth-child(3) {
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.feature:nth-child(4) {
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

/* Second row elements */
.feature:nth-child(5) {
  border-top: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}

.feature:nth-child(6),
.feature:nth-child(7) {
  border-left: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}

.feature:nth-child(8) {
  border-left: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
}

.feature p {
  padding-left: 1rem;
}

.feature img {
  max-width: 50px; /* Adjust as needed */
  max-height: 50px;
}

@media (max-width: 900px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature {
    padding: 10px;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding-top: 2rem;
  }

  .feature:nth-child(1),
  .feature:nth-child(2),
  .feature:nth-child(3),
  .feature:nth-child(4),
  .feature:nth-child(5),
  .feature:nth-child(6),
  .feature:nth-child(7),
  .feature:nth-child(8) {
    border: none;
  }
}

@media (max-width: 768px) {
  .why-us-title {
    font-size: 1.5rem;
  }

  .feature img {
    max-width: 40px;
    max-height: 40px;
  }
}

@media (max-width: 250px) {
  .features-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature {
    flex-direction: column;
  }
  .feature img {
    max-width: 30px;
    max-height: 30px;
  }

  .why-us-title {
    font-size: 1.2rem;
  }
}
