.space-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.space-overview-title {
  color: #1a202c; 
  font-size: 2rem;
  font-weight: bold;
}

.space-wrapper {
  display: flex;
  flex-direction: column;
}
